@media only screen and (min-width: 780px) { 
    header {
        grid-template-columns: 1fr 1fr;

    }
    header img {
        grid-column: 2;
        justify-self: right;
    }
    header h1 {
    grid-row: 1;
    justify-self: left;
    font-size: 2.5rem;
    padding-left: 20px;
    }
}