@media only screen and (min-width: 480px) {
    header {
        grid-template-columns: 1fr 1fr;

    }
    header img {
        grid-column: 2;
        justify-self: right;
    }
    header h1 {
    grid-row: 1;
    justify-self: left;
    font-size: 2.5rem;
    padding-left: 20px;
    }
    h2 {
        font-size: 2em;
        text-align: left;
        padding: 20px;
    }
    main  ul {
        font-size: 24px;
    }
    footer .copy {
        font-size: 20px;
    }
    footer .modified {
        font-size: 18px;
    }
}