body {
    font-family: "Lato", "Open Sans", sans-serif;
    width: auto;
}
header {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(20, 52, 194, 90%);
    color: white;
}
header h1 {
    font-family: "Pacifico", fantasy;
    font-weight: 400;
    font-size: 1.5rem;
}
header img {
    margin: 10px 20px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(34, 34, 34, 0.9);
}
main {
    min-height: 350px;
}
h2 {
    font-size: 1.25em;
    padding-left: 30px;
}
.weeks {
    display: flex;
    flex-direction: column;
    min-height: 300px;
}
.weeks ol {
    list-style: none;
    font-size: 18px;
}
footer {
    height:auto;
    display:grid;
    grid-template-rows: 15px 15px;
    justify-items: center;
    background-color: rgb(20, 52, 194, 90%);
    color: white;
}
.schoollink, a {
    text-decoration: none;
    font-weight: 700;
}
.schoollink {
    color: goldenrod;
}
footer .copy {
    font-size: 14px;
}
footer .modified {
    font-size: 12px;
}
