body {
    font-family: "Roboto", "Open Sans", sans-serif;
    font-weight: 400;
    background-color: aliceblue;
    padding: 10px;
}
h1, .name {
    text-align: center;
}
h1, h2, h3 {
    font-family: "Dancing Script", "Rouge Script", fantasy;
    font-weight: 700;
}
#heading-1 {
    font-family: "dancing Script";
    font-weight: 700;
}
#heading-2 {
    font-family: "Rouge Script";
    font-weight: 700;
}
#heading-3 {
    font-family: cursive;
    font-weight: 700;
}
#body-2 {
    font-family: "Open Sans";
    font-weight: 400;
}
#body-3 {
    font-family: sans-serif;
    font-weight: 400;
}
.data {
    list-style-type: circle;
}
.wireframes {
    display: flex;
    flex-direction: column;
    width: 98vw;
}
#medium {
    width: 180px;
    height: 360px;
}
#large {
    width: 400px;
    height: 250px;
}
.typo {
    list-style-type: none;
}
.color-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.colors {
    width: 20vw;
    height: 100px;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 6px;
}
#color1 {
    background-color: black;
    color: aliceblue;
}
#color2 {
    background-color: #1d4861;
    color: aliceblue;
}
#color3 {
    background-color: aliceblue;
}
#color4 {
    background-color: maroon;
    color: aliceblue;
}
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.schoollink {
    text-decoration: none;
}
@media only screen and (min-width: 825px) {
    .wireframes {
        flex-direction: row;
        justify-content: space-between;
    }
    .color-section {
        flex-direction: row;
    }
}