@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Rouge+Script&display=swap");
body {
  background-color: aliceblue;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: column;
  background-color: maroon;
  height: 100px;
}

.banner {
  width: 150px;
  margin: 5px;
}

.banner:hover {
  transform: scale(1.1);
  opacity: 80%;
}

.banner img {
  border-radius: 3px;
}

h1, h2, h3 {
  font-family: "Dancing Script", "Rouge Script", fantasy;
  font-weight: 700;
}

h1 {
  text-align: center;
  position: relative;
  margin-top: -70px;
  margin-left: 100px;
  color: aliceblue;
}

main {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  justify-content: center;
}

.startPointImages h2 {
  text-align: center;
}

.container {
  width: 398px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 5px;
  border: solid thin #1d4861;
  border-radius: 3px;
}

#image_input {
  padding: 10px;
  margin-bottom: 5px;
  grid-column: 1/span 2;
}

#display_image {
  width: 150px;
  height: 200px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  grid-column: 1;
  grid-row: 2;
  opacity: 80%;
  margin-left: 40px;
}

#display_image2 {
  width: 150px;
  height: 200px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  grid-column: 2;
  grid-row: 2;
  opacity: 80%;
}

.motivate {
  margin: 5px;
}

.weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 400px;
  position: relative;
  background-color: #1d4861;
  opacity: 90%;
  color: aliceblue;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 5px;
}

.summary {
  grid-column: 1/span 2;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 10px;
  width: 400px;
  position: relative;
  opacity: 90%;
  color: aliceblue;
  margin-top: 10px;
  margin-left: -25px;
}

.summary h2 {
  grid-column: 1/span 2;
  grid-row: 1;
  justify-self: center;
  margin-bottom: 0;
  margin-left: 25px;
}

#currenticon {
  width: 80px;
  grid-column: 1/span 2;
  grid-row: 2;
  justify-self: center;
  margin-top: -20px;
  margin-left: 25px;
}

.title {
  grid-column: 1;
  grid-row: 3;
  text-align: right;
  list-style-type: none;
  font-weight: 600;
  font-size: 1.25rem;
  padding-left: 0;
  margin-top: -20px;
}

.temperature {
  grid-column: 2;
  grid-row: 3;
  list-style-type: none;
  font-weight: 600;
  padding-left: 0;
  font-size: 1.25rem;
  margin-top: -20px;
}

.forecast {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.days {
  padding: 10px;
  list-style-type: none;
  margin-left: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  border-radius: 3px;
  margin: 10px 5px;
}

.meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 398px;
  min-height: 100px;
  border: solid thin #1d4861;
  border-radius: 3px;
  margin: 5px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 398px;
  min-height: 200px;
  margin: 5px;
  border: solid thin #1d4861;
  border-radius: 3px;
}

.todo {
  width: 360px;
  max-width: 98%;
  margin: 20px auto;
  min-height: 200vh;
}

.input {
  display: block;
  width: 90%;
  padding: 5px 15px;
  color: #444;
  border: none;
  margin-top: 5px;
}

input::placeholder {
  color: #c5c5c5;
}

.todos {
  background-color: aliceblue;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todos li {
  border: 1px solid #e5e5e5;
  cursor: pointer;
  padding: 1rem 2rem;
}

.todos li span {
  padding: 0 10px;
}

.todos li.completed {
  color: #b6b6b6;
  text-decoration: line-through;
}

.thanks {
  list-style-type: none;
  margin-left: 5px;
  padding: 5px;
}

.attribute {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 398px;
  border: solid thin #1d4861;
  border-radius: 3px;
  margin: 10px 5px;
}

.attribute h2 {
  text-align: center;
}

footer {
  height: 75px;
  display: grid;
  grid-template-rows: 15px 15px;
  justify-items: center;
  background-color: maroon;
  color: aliceblue;
}

.schoollink, a {
  text-decoration: none;
  font-weight: 700;
  color: goldenrod;
}

footer .copy {
  font-size: 14px;
}

@media only screen and (min-width: 750px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .startPointImages {
    grid-column: 1;
  }

  #motivate1 {
    grid-column: 2;
    justify-self: center;
    align-self: center;
  }

  .weather {
    grid-column: 1;
    grid-row: 2;
    box-shadow: 5px 10px 15px black;
  }

  .menu {
    grid-column: 2;
    grid-row: 2;
  }

  #motivate2 {
    grid-column: 2;
    grid-row: 3;
  }

  #form {
    grid-column: 1;
    grid-row: 3;
    box-shadow: 0 4px 10px black;
  }

  #motivate3 {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
    align-self: center;
  }

  .attribute {
    grid-column: 2;
    grid-row: 4;
  }
}
@media only screen and (min-width: 1024px) {
  main {
    margin: 10px;
  }

  .startPointImages {
    grid-column: 1;
    margin-left: 60px;
  }

  #motivate1 {
    display: none;
  }

  .weather {
    grid-column: 2;
    grid-row: 1;
    box-shadow: 5px 10px 15px black;
    margin-left: 20px;
  }

  .menu {
    grid-column: 1;
    grid-row: 2;
    margin-left: 60px;
  }

  #motivate2 {
    display: none;
  }

  #form {
    grid-column: 2;
    grid-row: 2;
    box-shadow: 0 4px 10px black;
    margin-top: 35px;
    margin-left: 20px;
  }

  #motivate3 {
    grid-column: 2;
    grid-row: 3;
    margin-right: 50px;
  }

  .attribute {
    grid-column: 1;
    grid-row: 3;
    margin-left: 60px;
  }
}

/*# sourceMappingURL=styles.css.map */
