@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Rouge+Script&display=swap');
$color-1: aliceblue;
$color-2: black;
$color-3: maroon;
$color-4: #1d4861;
$color-5: goldenrod;
$font-1: "Roboto", "Open Sans", sans-serif;
$font-2: "Dancing Script", "Rouge Script", fantasy;
body {
    background-color: $color-1;
    font-family: $font-1;
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: column;
    background-color: $color-3;
    height: 100px;
}

.banner {
    width: 150px;
    margin: 5px;
}

.banner:hover {
    transform: scale(1.1);
    opacity: 80%;
}

.banner img {
    border-radius: 3px;
}

h1 {
    font-family: $font-2;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-top: -70px;
    margin-left: 100px;
    color: $color-1;
}

main {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

.summary {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 10px;
    width: 400px;
    position: relative;
    background-color: $color-4;
    opacity: 90%;
    color: $color-1;
    border: solid thin $color-4;
    border-radius: 5px;
    margin-top: 50px;
}

.summary h2 {
    grid-column: 1/span 2;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 0;
}

#currenticon {
    width: 80px;
    grid-column: 1/span 2;
    grid-row: 2;
    justify-self: center;
    margin-top: -20px;
}

.title {
    grid-column: 1;
    grid-row: 3;
    text-align: right;
    list-style-type: none;
    font-weight: 600;
    font-size: 1.25rem;
    padding-left: 0;
    margin-top: -20px;
}

.temperature {
    grid-column: 2;
    grid-row: 3;
    list-style-type: none;
    font-weight: 600;
    padding-left: 0;
    font-size: 1.25rem;
    margin-top: -20px;
}

.forecast {
    display: flex;
    flex-direction: row;
}

.days {
    padding: 10px;
    list-style-type: none;
    margin-left: 10px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 400px;
    min-height: 200px;
    margin: 10px;
    border: solid thick $color-4;
    border-radius: 3px;
}

.todo {
    width: 360px;
    max-width: 98%;
    margin: 20px auto;
    min-height: 200vh;
}

.input {
    display: block;
    width: 90%;
    padding: 5px 15px;
    color: #444;
    border: none;
    margin-top: 5px;
}

input::placeholder {
    color: #c5c5c5;
}

.todos {
    background-color: $color-1;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li {
    border: 1px solid #e5e5e5;
    cursor: pointer;
    padding: 1rem 2rem;
}

.todos li span {
    padding: 0 10px;
}

.todos li.completed {
    color: #b6b6b6;
    text-decoration: line-through;
}
.hide {
    display: none;
}
.remove {
    float: right;
}
.count {
    font-weight: 700;
}

footer {
    height: 75px;
    display: grid;
    grid-template-rows: 15px 15px;
    justify-items: center;
    background-color: $color-3;
    color: $color-1;
}
.schoollink, a {
    text-decoration: none;
    font-weight: 700;
    color: $color-5;
}

footer .copy {
    font-size: 14px;
}

@media only screen and (min-width: 750px) {

    #form {
        box-shadow: 0 4px 10px $color-2;
    }

    .summary {
        box-shadow: 5px 10px 15px $color-2;
    }
}

@media only screen and (min-width: 1024px) {
    
}