@media only screen and (min-width: 780px) { 
    body div {
        display: grid;
        grid-template-columns: 250px 750px;
    }
    header {
        grid-column: 1;
    }
    main {
        grid-column: 2;
        width: 750px;
    }
    article {
        width: 400px;
        padding: 40px;
    }
    img {
        margin-left: 50px;
    }
}