body {
    font-family: "Lato", "Open Sans", sans-serif;
    width: auto;
}
main {
    padding: 20px;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
}
header {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(194, 171, 212);
}
header h1 {
    font-size: 1.5rem;
}
header img {
    padding-top: 10px;
}
.schoollink, .lessons li a {
    text-decoration: none;
}
main  ul {
    list-style: none;
    font-size: 18px;
}
h2 {
    font-size: 1.25em;
    padding-left: 30px;
}

footer {
    height:auto;
    display:grid;
    grid-template-rows: 15px 15px;
    justify-items: center;
    background-color: rgb(194, 171, 212);
}
footer .copy {
    font-size: 14px;
}
footer .modified {
    font-size: 12px;
}
