body {
    font-family: "Lato", "Open Sans", sans-serif;
    font-weight: 400;
    margin: 10px auto;
    text-align: center;
    background-color: rgb(252, 247, 221);
}

p {
    line-height: 1.5rem;
    margin: 20px auto;
    text-align: left;
    width: 340px;
    background-color: white;
    border: solid thin black;
    padding: 10px;
}
main a {
    text-decoration: none;
    font-size: 1.25;
    font-weight: 700;
    padding: 10px 20px;
    border: double thick #feaace;
    background-color: aliceblue;
}
.codepen {
    text-decoration: none;
}
footer {
    display: flex;
    flex-direction: row;
    padding: 40px;
    margin-top: 10px;
}
.footer {
    background-color: rgb(252, 247, 221);
    border: none;
    width: 100%;
    text-align: center;
}
